.App {
  text-align: left;
  /* font-weight: 300; */
}
body {
  background-color: rgb(244, 245, 248);
}
* {
  font-family: Montserrat !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  text-align: center;
  font-weight: 1000;
  /* padding: 0; */
  margin: 0;
}

.mainView {
  width: 900px;
  margin-top: 2em;
}
.costView {
  width: 300px;
  margin-left: 2em;
  margin-top: 6em;
}
h1 {
  text-align: center;
}
.header {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
}

.greyBox {
  margin: 20px;
  height: 80px;
  width: 80px;
  background-color: lightgray;
}

.cardFlexBox {
  display: flex;
  justify-content: space-around;
  height: 6.5em;
  margin-left: 0.4em;
  margin-right: 0.4em;
}
.imageDesc {
  width: 600px;
}

.imageSelection {
  width: 120px;
  margin-top: 1em;
  /* margin-bottom: 3em; */
}

.cost {
  text-align: right;
}

.selected {
  background-color: rgb(3, 125, 252, 0.1);
}
.imageCardWrapper {
  margin: 1em;
  margin-top: 2em;
}

.tabsButtons {
  margin-top: 0.5em;
}

.tabButtonWrapper {
  margin: 0.2em;
}

.mainList {
  max-height: 500;
  overflow: auto;
}

p {
  font-size: 0.8em;
  font-weight: 600;
}
label {
  font-size: 0.8em;
  font-weight: 600;
}

select {
  height: 10;
  color: rgb(3, 125, 252);
  min-width: 8em;
  max-height: 2.5em;
  min-height: 2em;
}

select:active,
select:hover {
  outline-color: rgb(3, 125, 252);
}

.storageSelect {
  min-height: 1.8em;
}

.storageCard {
  margin-top: 1.5em;
  margin-bottom: 1em;
  text-align: center;
}

.instanceConfigOptions {
  margin-top: 2em;
}

.instanceConfigOptions p {
  margin-right: 3em;
  margin-left: 1em;
}

.instanceTypeWrapper {
  margin-top: 3em;
}
.costValues {
  float: right;
}

.selectImageButtonWrapper {
  margin-top: 1em;
}

.exportButton {
  float: right;
  margin-right: 2em;
  margin-top: 1em;
}
.footer {
  margin-top: 1em;
}

.buttonsWrapper {
  /* margin-left: 1em; */
  margin-right: 1em;
}

.footer {
  display: flex;
}

.backButton {
  background-color: #555555;
}

button {
  border: none;
  color: white;
  padding: 0.8em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  /* margin: 4px 2px; */
  /* cursor: pointer; */
}
input[type="text"] {
  max-width: 6em;
}

.closeButton {
  float: right;
  margin-top: 0.2em;
  margin-right: 0.5em;
}

.editButton {
  float: right;
}
